*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    height:50px;
}
header nav{
    
    width: 50%;
    
}
header nav ul{
width: 50%;list-style: none;
gap: 5%;
}
header nav ul a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #79c0d4;
}
header nav ul a:hover{
    color: #47B4D1;

}
body{
    width: 100%; 
    height: 60vh;
}
.container{
    width: 100%;

}
.small-container{
    gap: 10%;
    height: 60vh;
    width: 70%;
    flex-direction: column;
    background: #f3f3f3;
}
.small-container h3{
    font-size:3rem ;
}
.container2{
    width: 100%;
    gap: 10%;
    display: flex;
    justify-content: space-evenly;
}
.box{
    /* background: #000; */
    flex-direction: column;
    width: 15%;
    height: 10vh;
    background: white;
}
footer{
    width: 100%;
    height: 15vh;
}
.footer2{
    width: 60%;
}
.footer2 p{
    text-align: center;
    color: #47B4D1;
    font-size:1.1rem ;
}