.main_content{
    background: #d1d8e0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_content .col-4{
    width: 1%;
    background:white;
    padding: 2%;
    height: 100%;
}
main{
    /* margin-top: 500px; */
}