.main_content{
     background: #d1d8e0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; 
    width: 80vw;
    gap: 50px;
}
.main_content .sub_contain{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_content .sub_contain .col-4{
    background: white;
    padding: 2%;
    height: 10px;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_content .sub_contain .col-4 h1{
font-size: 2vw;
}