*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
}
html{
    scroll-behavior: smooth;
}

/* navigation bar   */
.navbar .container {
    width: 100vw;
    height: 50px;
    display: flex;
    gap: 15%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #F4F4F4;
}

/* navbar logo start */
.navbar .container .logo {
    height: 45px;
}

.navbar .container .logo img {
    height: 100%;
}

/* navbar logo end */


/* searching box start  */
.navbar .container .search{
    width: 20%;
    height: 75%;
}
.navbar .container .search .formm{
    width: 100%;
    display: flex;
    height: 100%;
    gap: 4px;
    
}
.navbar .container .search .formm .btn1{
width: 80%;
height: 100%;
}
.navbar .container .search .formm .btn2{
    width: 20%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background: #79c0d4;
    color: white;
}
.navbar .container .search .formm .btn2:hover{
    
    background: #47B4D1;
}

/* searching box end  */





/* nav buttons start */
.navbar .container .menu ul {
    display: flex;
    list-style: none;
    gap: 10%;
}
.navbar .container .menu ul a {
    color: #79c0d4;
    text-decoration: none;
}

.navbar .container .menu ul a:hover {
    color: #47B4D1;
}

/* nav buttons end */


/* body work......  */
/* heading  */
.categories {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.categories .explore{
    margin-top: 20px;
    display: flex;
justify-content: center;
align-items: center;
color: whitesmoke;
font-size: 1.6vw;
height: 30%;
background-image: url('../imgs/bg1.jpg'); 
background-repeat: no-repeat;
background-size:cover;
}

.categories .option{
    display: flex;
    height:70%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.categories .option .breakfast{
    height: 60%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.5vw ;
}
.categories .option .breakfast img{
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
}
.categories .option .breakfast img:hover{
    
    border: 5px solid #47B4D1;
}


/* start food menu  */
.food_menu{
    height: 100vh;
    width: 100vw;
    background: #ECECEC;
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
    gap: 2.5%;
}
.food_menu h2{
    font-size: 2vw;
    color: #47B4D1;
}
.food_menu .firstrow{
    width: 70%;
    display: flex;
    gap: 5%;
    justify-content: center;
    height: 20%;
}
.food_menu .firstrow .bg_menu{
background: white;
width: 50%;
height: 100%;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid black;
gap: 2.5%;
}
.food_menu .firstrow .bg_menu img{
    border-radius: 10px;
    height: 70%;
}
.food_menu .firstrow .bg_menu .details{
    height: 100%;
    justify-content: center;
    gap: 10%;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.food_menu .firstrow .bg_menu .details a{
    height: 18%;
    width: 30%;
    border-radius: 5px;
    border: none;
    background:#47B4D1;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}
/* start food end  */



/* custmore */
.customer{
    height: 100vh;
    display: flex;
}
.customer .review{
    width: 100%;
    display: flex;
}
.customer .review .cooker {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer .review .cooker img{
height: 90%;
}
.customer .review .reviewtext{
    display: flex;
    width: 50%;
    gap: 2%;
    flex-direction: column;
    justify-content: center;
}
.customer .review .reviewtext h2{
font-size:3vw;
color: #47B4D1;
/* display: flex; */
/* justify-content: start; */
text-align: start;
}
.customer .review .reviewtext p{
    color: #8D8D8D;
    width: 65%;
    text-align: start;
    /* font-weight: bold; */
}
/* end of customer review  */
#detailsc {
    color: #7c9192;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:  #ECECEC;
    height: 40vh;
    align-items: center;
}
footer .footer1{
    display: flex;   
    gap: 5%;
    width: 100%;
    height: 60%;
    justify-content: center;
}
footer .footer1 img{
    height: 30%;
    margin-left: 20px;
}
footer .footer1 .list{
    display: flex;
    width: 100%;
    height: 100%;
}
footer .footer1 .list .lists {
    /* background: #000; */
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-self: center;
    gap:5%;
}
.listsimg{
    /* background: #000; */
    color: #47B4D1;
    width: 40%;
    height: 50%;
    gap: 10%;
}
footer .footer1 .list .lists h3{
    color: #47B4D1;
}
footer .footer1 .list .lists a{
    text-decoration: none;

}
footer .footer1 .list .lists p{
    color: #8a7c80;
}

.footer2{
    display: flex;
    justify-content: center;
    align-items: end;
}
.footer2 p{
    width: 60%;
    text-align: center;
    color: #8a7c80;
}






.fa {
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  /* font-size: 30px; */
  width: 10px;
  text-align: center;
  text-decoration: none;
  /* margin: 2px 2px; */
  height: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #F70860;
  color: white;
}

.contactus{
    width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 80vh;

}
.contactus .contact_container{
    flex-direction: column;
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}
.contactus .contact_container h2{

    margin-top: 20px;
    font-size: 2.5vw ;
    color: #55ACEE;
}
.contactus .contact_container form{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.contactus .contact_container form input{
    margin-bottom: 20px;
    margin-top: 5px;
    height: 15%;
    padding: 5px 5px;
    border-radius: 5px;

}
.contactus .contact_container form button{
    background: #55ACEE;
    border: none;
    color: white;
    height: 20%;
    font-size:1.2vw ;
    border-radius: 5px;
}
