* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
}
html{
    scroll-behavior: smooth;
}

/* navigation bar   */
.navbar .container {
    width: 100vw;
    height: 50px;
    display: flex;
    gap: 15%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #F4F4F4;
}

/* navbar logo start */
.navbar .container .logo {
    height: 45px;
}

.navbar .container .logo img {
    height: 100%;
}

/* navbar logo end */


/* searching box start  */
.navbar .container .search{
    width: 20%;
    height: 75%;
}
.navbar .container .search .formm{
    width: 100%;
    display: flex;
    height: 100%;
    gap: 4px;
    
}
.navbar .container .search .formm .btn1{
width: 80%;
height: 100%;
}
.navbar .container .search .formm .btn2{
    width: 20%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background: #47B4D1;
    color: white;
}
.navbar .container .search .formm .btn2:hover{
    
    background: #47B4D1;
}

/* searching box end  */





/* nav buttons start */
.navbar .container .menu ul {
    display: flex;
    list-style: none;
    gap: 10%;
}
.navbar .container .menu ul a {
    color: #79c0d4;
    text-decoration: none;
}

.navbar .container .menu ul a:hover {
    color: #47B4D1;
}

/* nav buttons end */

.container1{
    height: 150vh;
   background: #47B4D1;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap:5%;
   width: 100vw;
}
.container1 .heading{
    margin-top: 80px;
    color: white;
    font-size: 2.5vw;
}
.bg_menu{
    border: 1px solid white;
    border-radius: 10px;
    width: 40%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    }
    .bg_menu img{
        border-radius: 10px;
        height: 10vw;
    }
    .bg_menu .details{
        height: 100%;
        justify-content: center;
        gap: 6%;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    #title{
       color: white; 
       font-size: 1.5vw;
    }
.address{
    width: 40%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.address h2{
    color: white;
    font-size: 2.5vw;
}
.address .order_add{
    /* background: #000; */
    text-align: start;
}
.address .subcontainer{
    border-radius: 10px;
    border: 1px solid white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height:80%;
}
.address .subcontainer  .order_add{
    /* background: #000; */
    width: 70%;

}
.address .subcontainer input{
    width: 70%;
    height: 7%;
    border-radius: 3px;
    margin-bottom: 20px;
    border: none;

}
#submit{
    margin-top: 20px;
    background:#25d225;
    border: 1px solid white;
    color: white;
}