*{
    margin: 0;
    padding: 0;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background-image: url(bg.jpg); */
    background: #47B4D1;
}
.container{
width: 80%;
margin: 0 auto;
padding: 1%;
display: flex;
}
.img-responsive{
width: 100%;
}
.img-curve{
border-radius: 15px;
}

.text-right{
text-align: right;
}
.text-center{
text-align: center;
}
.text-left{
text-align: left;
}
.text-white{
color: white;
}

.clearfix{
clear: both;
float: none;
}

a{
color: #ff7b00;
text-decoration: none;
}
a:hover{
color: #ff4757;
}

/* .btn{
padding: 1%;
border: none;
font-size: 1rem;
border-radius: 5px;
} */
.btn-primary{
background-color: #ff6b81;
color: white;
cursor: pointer;
}
.btn-primary:hover{
color: white;
background-color: #ff4757;
}
/* h2{
color: #2f3542;
font-size: 2rem;
margin-bottom: 2%;
}
h3{
font-size: 1.5rem;
}
.float-container{
position: relative;
}
.float-text{
position: absolute;
bottom: 50px;
left: 40%;
}
fieldset{
border: 1px solid white;
margin: 5%;
padding: 3%;
border-radius: 5px;
} */


/* CSSS for navbar section */
ul{
    width:500px;
}

.logo{
width: 10%;
float: left;
}
.menu{
line-height: 60px;
}
.menu ul{
list-style-type: none;
}

.menu ul li{
display: inline;
padding: 1%;
font-weight: bold;
}
.formm{
    width: 70%;
}
.food-search{
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0; */
    /* background: #000; */
    width: 50%;
}

.food-search input[type="search"]{
    width: 80%;
    padding: 2%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    /* background-color: #ff6b81; */
}
.explore{
    display: flex;
    justify-content: center;
    align-items: top;
}
.explore h2{
    color: white;
    font-size: 260%;
}
.categories{
    /* background: #000; */
    height: 100vh;
}

.categories .option{
    display: flex;

}
.categories .option img{
    height:10%;
}
.breakfast{
    height:5000px;
}